.row{
	margin-left: 1.5vw;
   color:#fff;
   font-size: 175%;
   margin-top: 0;

}
.posters
{
	display:flex;
	padding: 1vw;
	overflow-x: scroll;
	overflow-y: hidden;
}
.posters::-webkit-scrollbar
{
	display: none;
}
.poster
{
	
	cursor: pointer;
	max-width: 60vh;
	padding-right: 2vh;
	
	
}
.smallPoster{
	max-width:40vh ;
	padding-right: 2vh;
	
	cursor: pointer;
}
.poster:hover{
	transform: scale(1.2);
}
.smallPoster:hover{
	transform: scale(1.2);
}
.nodisplay{
	display:none;
	
}
